{% extends 'templates/common.html' %}
{% block main %}
<section id="banner">
    <div class="inner">
    <header>
        <h2>FFRPG3 Bot</h2>
    </header>
    <p>Play-by-Chat <strong>Pen &amp; Paper</strong>
    <br />
    <p>Final Fantasy 3rd Edition</strong>
    <br />
    Powered by <a href="https://discordapp.com/">Discord</a>.</p>
    <footer>
        <ul class="buttons vertical">
            <li><a href="https://discordapp.com/oauth2/authorize?client_id=401028591472869378&permissions=2080898303&scope=bot" class="button fit scrolly">Invite Discord Bot</a></li>
        </ul>
    </footer>
    </div>
</section>
{% block body %}{% endblock %}
{% endblock %}
